MYSQL_PASSWORD=password
MYSQL_USERNAME=root
MYSQL_PORT=3306
MYSQL_HOST=localhost
MYSQL_DATABASE=database

PROJECTNAME=users-management
PROJECTDESCRIPTION=Management of users with list of addresses
PROJECTVERSION=1.0.0
SWAGGERPATH=/api

JWT_SECRET=jwtSecret
JWT_EXPIRATION_TIME=34560